@media(max-width:1410px){
    .playy{
        width: 35% !important ;
        margin-top: -580px;
    }
    .asusedby{
margin-top: -3px !important;
    }
}
@media(max-width:1318px){
    .playy{
        width: 38% !important ;
        margin-top: -540px;
    }
    .header{
        width: 100% !important;
        .head1{
         margin-left: 6% !important; 
         img ,div{
            margin-right: 30px;
         }
        }
        .head2{
            margin-right: 2% !important;  
        }
    }
    .header2{
        .head3{
            margin-left: 6% !important;
            button{
                margin-right: 22px !important;
            }
        }   
    }
}
@media(max-width:1314px){
    .playy{
        width: 38% !important ;
        margin-top: -520px;
    }
}
 @media(max-width:1281px){
   .play .playy{
       margin-top: -400px !important;
    }
}
@media(max-width:1280px){
    .play {
         .playy{
        width: 39% !important ;
        margin-top: -550px !important;
        margin-left: 4% !important;
 }
    }
   
    .header{
        width: 100% !important;
        .head1{
         margin-left: 4% !important; 
         img ,div{
            margin-right: 30px;
         }
        }
        .head2{
            margin-right: 1% !important;  
        }
    }
    .header2{
        .head3{
            margin-left: 4% !important;
            button{
                margin-right: 22px !important;
            }
        }   
    }
    .asused{
       margin-top: 16%; 
       .asusedby{
         margin-left: 4%;  
       }
    }
    .body5{
        h1{
            margin-left: 4%;
        }
        .body51{
            margin-left: -3%;
        }
    }
    .body6{
        .makereal{
            margin-left: 4%;
        }
        .skill{
            margin-left: 4%;
        }
        .house{
            .laugh{
                width: 21%;
            }
        }
        .more{
            width: 18%;
            height: 6vh;
        }
       
    }
    .body7{
        .makereal{
            margin-left: 4%;
        }
        .house{
            .home{
           margin-left: 4%;   
            }
        } 
    }
}
@media(max-width:1266px){
    .play .playy{
        width: 40% !important ;
        margin-top: -700px;
        margin-left: 4% !important;

    }
    .header{
        width: 100% !important;
        .head1{
         margin-left: 4% !important; 
         img ,div{
            margin-right: 30px;
         }
        }
        .head2{
            margin-right: 2% !important;  
        }
    }
    .header2{
        .head3{
            margin-left: 4% !important;
            button{
                margin-right: 22px !important;
            }
        }   
    }
    .asused{
       margin-top: 5px; 
       .asusedby{
         margin-left: 4%;  
       }
    }
    .body5{
        h1{
            margin-left: 4%;
        }
        .body51{
            margin-left: -3%;
        }
    }
}
@media(max-width:1024px){
    .play .playy{
        width: 50% !important ;
        margin-top: -480px !important;
        margin-left: 1% !important;
        h1{
            font-family: roboto-bold;
            font-weight: 700;
            font-size: 41px;
            }
        h5{
            font-family: roboto-regular;
            font-weight: 400;
            font-size: 20px;
            }

    }
    .header{
        width: 100% !important;
        .head1{
         margin-left: 1% !important; 
         img ,div{
            margin-right: 30px;
         }
        }
        .head2{
            margin-right: -3% !important;  
        }
    }
    .header2{
        .head3{
            margin-left: 2% !important;
            button{
                margin-right: 22px !important;
            }
        }   
    }
    .asused{
       margin-top: -5px; 
       .asusedby{
         margin-left: 1%;  
         img{
            font-family: roboto-regular;
            font-weight: 400;
            font-size: 16px;
            width: 48px;
            height: 30px;
            margin-right: 48px;
            margin-top: 20px;
             }   
       }
    }
    .body5{
        height: 600px;
        
        h1{
            margin-left: 1%;
        }
        .body51{
            margin-left: -2%;
            width: 100% !important;
            flex-wrap: wrap !important;
            .body511{
              width: 47%;
              margin-left: 3%;
              margin-bottom: 70px;
            }
        }
    }
}
@media(max-width:914px){
    .header2{
       margin-top: 15%;
    }
    .play .playy{
        width: 57%  ;
        margin-top: -530px ;
        margin-left: 1% ;
        h1{
            font-family: roboto-bold;
            font-weight: 700;
            font-size: 48px;
            }
        h5{
            font-family: roboto-regular;
            font-weight: 400;
            font-size: 20px;
            }

    }
    .header{
        width: 100% !important;
        .head1{
         margin-left: 1% ; 
         img{
             margin-top: -5px;
         }
         img ,div{
            margin-right: 30px;
            }
            div{ margin-top: 5px;}
        }
        .head2{
            margin-right: -3% ; 
            div{ margin-top: 5px;} 
        }
    }
    .header2{
        .head3{
            margin-left: 2% ;
            button{
                margin-right: 22px;
            }
        }   
    }
    .asused{
       margin-top: -5px; 
       .asusedby{
         margin-left: 2%;  
         p{
            font-family: roboto-regular;
            font-weight: 400;
            font-size: 11px;
            margin-top: 25px;
         }
         img{
            width: 38px;
            height: 25px;
            margin-right: 50px;
            margin-top: 20px;
             }   
       }
    }
    .body5{
        height: 600px;
        
        h1{
            margin-left: 1%;
            font-family: roboto-regular;
            font-weight: 700;
            font-size: 32px;

        }
        .body51{
            margin-left: -2%;
            width: 100% ;
            flex-wrap: wrap ;
            .body511{
              width: 47%;
              margin-left: 3%;
              margin-bottom: 70px;
              h4{
                font-family: roboto-regular;
                font-weight: 700;
                font-size: 20px;
                margin-top: 25px;
              }
              .adjust{
                width: 70%;
                margin-left: 3%;
                font-family: roboto-regular;
                font-size: 14px;
                font-weight: 400;
            }
            }
        }
       
    }
}
@media(max-width:889px){
  .body{
      .play{
        min-height: 780px ; 
        margin-top: -1%; 
        video{
            min-height: 780px !important;
            min-width: 100%;
            background-color: black;
        }  
        .playy{
            margin-top: -560px;
        } 
    }
        .asused{
            .asusedby{
                width: 100%;
                p{
                   font-family: roboto-regular;
                   font-weight: 400;
                   font-size: 11px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                }
               img{
                   margin-right: 40px;
                   width: 40px;
                   height: 28px;
               } 
            }
        } 
  }
}
@media(max-width:886px){
    .header{
        width: 100% !important;
        .head1{
         margin-left: 2% ; 
         img{
           height: 40px;
           width: 130px;
           margin-top: -10px;  
         }
         img ,div{
             margin-right: 27px;
                font-family: roboto-regular;
                font-weight: 400;
                font-size: 16px;
         }  
        }
        .head2{
         margin-right: -3% ;   
        }

    }
    .header2{
        .head3{
            margin-left: 2% ;
            button{
                margin-right: 19px ;
            }
        }
    }
    .play{
        min-height: 780px ;
        background-color: black;
        margin-top: -1%;
        video{
            min-height: 780px !important;
            min-width: 100%;
        }
        .playy{
            margin-top: -565px ;
        }
    }
     .asused{
         .asusedby{
             width: 100%;
             p{
                font-family: roboto-regular;
                font-weight: 400;
                font-size: 11px;
             }
            img{
                margin-right: 45px;
                width: 40px;
                height: 28px;
            } 
         }
     }
     .body5{
        h1{
            margin-left: 1%;
        }
        .body51{
            margin-left: -3%;
            margin-top: 52px;
        }
        .body511{
             height: 150px;
            
           
            .adjust{
                width: 81%;
                margin-left: 3%;
            }
        }
    }
     
}
@media(max-width:720px){
    .header{
       height: 65px;
        .hide{
            display: none !important;
        }
    }
    .header2{
        margin-top: 65px;
        .head3{
            margin-left: 4%;   
        }
    }
    .asused{
        height: 120px;
         .asusedby{
            height: 120px;
            
            .scroll{
                width: 90%;
                overflow-x: scroll;
               img{
               margin-right: 150px;
               width: 100px;
               height: 35px;
               } 
            }
             p{
                font-family: roboto-regular;
                font-weight: 400;
                font-size: 16px;
               width: 720px;
               display: flex;
               align-items: center;
               justify-content: center; 
             }
            img{
                margin-right: 100px;
              
             
            } 
         }
     }
     .play{
         height: 500px !important; 
     }
}
@media(max-width:412px){
    .header{

      .hide{
          display: none !important;
      } 
      .head1{
          img{
              margin-left: 3%;
          }
      }
      .head2{
          justify-content: start;
          margin-right: 15px !important;
          div{
            margin-right: 18%;
            min-width: fit-content !important;  
          }
      } 
    }
    .header2{
        .head3{
            width: 100%;
            button{
                min-width: fit-content !important;
            }
        }
    }
    .play{
        min-height: 800px !important;
        background-color: black;
        video{
            min-height: 800px !important;
            min-width: 100%;
        }
        .playy{
            margin-top: -700px !important;
            width: 100%;
            padding: 3%;
            h1{
                width: 400px;
                font-family: roboto-regular;
                font-size: 41px;
                font-weight: 700;
            }
            h5{
                width: 380px;
                font-family: roboto-regular;
                font-size: 20px;
                font-weight: 400;
            }
            .money{
                display: block;
                margin-top:250px ;
              .hire{
                  margin-bottom: 8%;
                  height: 65px;
                  width: 380px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                 }
                 .earn{
                    height: 65px;
                    width: 380px;
                    margin-left: 0%;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    }
            }
        }
    }
     .asused{
        height: 120px;
         .asusedby{
            height: 120px;
            .scroll{
                width: 90%;
                overflow-x: scroll;
               img{
               margin-right: 100px;
               width: 50px;
               height: 30px;
               } 
            }
             p{
                font-family: roboto-regular;
                font-weight: 400;
                font-size: 16px;
               width: 412px;
               display: flex;
               align-items: center;
               justify-content: center; 
             }
            img{
                margin-right: 100px;
              
             
            } 
         }
     }
     .body5{
         height: min-content;
        h1{
            margin-left: 1%;
            font-family: roboto-regular;
            font-weight: 700;
            font-size: 24px;
        }
        .body51{
            margin-left: -3%;
            margin-top: 52px;
            display: block !important;
        }
        .body511{
             height:min-content;
             width: 90%;
         .adjust{
                width: 380px !important;
                margin-left: 5%;
            }
        }
    }
     
}